@import "../_vars.scss";

:host {
    position: relative;
    display: block;
    pointer-events: none;

    > div {
        @include layout-horizontal();
        @include layout-center-center();
        height: 100%;
        text-align: center;
    }

    svg {
        width: var(--vi-icon-width, 16px);
        height: var(--vi-icon-height, 16px);
    }
}

:host(.size-h1) svg {
    --vi-icon-width: var(--theme-h1);
    --vi-icon-height: var(--theme-h1);
}

:host(.size-h2) svg {
    --vi-icon-width: var(--theme-h2);
    height: var(--theme-h2);
}

:host(.size-h3) svg {
    --vi-icon-width: var(--theme-h3);
    --vi-icon-height: var(--theme-h3);
}

:host(.size-h4) svg {
    --vi-icon-width: var(--theme-h4);
    --vi-icon-height: var(--theme-h4);
}

:host(.size-h5) svg {
    --vi-icon-width: var(--theme-h5);
    --vi-icon-height: var(--theme-h5);
}

:host([source="Selected"]) {
    fill: var(--vi-icon-selected-unchecked-color, #bbb);

    #check {
        display: none;
    }
}

:host([source="Selected"][is-selected]) {
    #backdrop {
        opacity: 1 !important;
    }

    #check {
        display: block;
        fill: white;
    }
    
    #box, #backdrop {
        fill: var(--vi-icon-selected-checked-color, var(--theme-color));
    }
}

:host([source="Selected"][is-selected][disabled]) {
    #box, #backdrop {
        fill: var(--vi-icon-selected-disabled-color, #666);
    }
}

:host([source="SelectedRadio"]) {
    fill: var(--vi-icon-selected-unchecked-color, var(--theme-dark-border));
}

:host([source="SelectedRadio"][is-selected ]) {
    #check, #box {
        fill: var(--theme-color);
    }
}

:host([source="SelectedRadio"]:not([is-selected])) {
    #check {
        display: none;
    }
}

:host([source="SelectedRadio"][disabled]) {
    fill: var(--vi-icon-selected-disabled-color, #666) !important;
}